pkgbase = visual-studio-code
	pkgdesc = Visual Studio Code - Official binary build from Microsoft
	pkgver = 1.136.0
	pkgrel = 1
	url = https://code.visualstudio.com/
	arch = x86_64
	license = custom:freeware
	depends = alsa-lib
	depends = bash
	depends = desktop-file-utils
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnupg
	depends = gtk3
	depends = libnotify
	depends = libsecret
	depends = libxkbfile
	depends = libxss
	depends = lsof
	depends = nss
	depends = shared-mime-info
	depends = xdg-utils
	optdepends = git: Integración nativa con control de versiones
	optdepends = kdialog: Selector de archivos nativo para KDE Plasma
	optdepends = libdbusmenu-glib: Menú global integrado en KDE
	optdepends = org.freedesktop.secrets: Sincronización de configuración mediante Keyring
	provides = code
	provides = visual-studio-code
	conflicts = code
	conflicts = visual-studio-code-bin
	conflicts = code-git
	source_x86_64 = vscode-1.136.0-x64.tar.gz::https://update.code.visualstudio.com/1.136.0/linux-x64/stable
	sha256sums_x86_64 = 4341eaa7e03d1fc24a3ac9d64fc7e348c9283adc07ab5c2cfa168d8f957074f7

pkgname = visual-studio-code
