pkgbase = google-chrome-stable
	pkgdesc = The popular web browser by Google (Stable Channel)
	pkgver = 152.0.7977.82
	pkgrel = 1
	url = https://www.google.com/chrome
	install = google-chrome-stable.install
	arch = x86_64
	license = custom:chrome
	depends = alsa-lib
	depends = gtk3
	depends = libcups
	depends = libxss
	depends = libxtst
	depends = nss
	depends = ttf-liberation
	depends = xdg-utils
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: for file dialogs in KDE
	optdepends = gnome-keyring: for storing passwords in GNOME keyring
	optdepends = kwallet: for storing passwords in KWallet
	options = !emptydirs
	options = !strip
	source = eula_text.html
	source = google-chrome-stable.sh
	source = https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_152.0.7977.82-1_amd64.deb
	sha256sums = e93c01576427cad9099f2cf0df0be70d0a2cc0a3a66c743318b2138aa7c4ed93
	sha256sums = 04e973a4c359a87ef63871ec8726e08fabe9919c60f972d5ca6f56f80a2939ed
	sha256sums = 4d25e4a028c78a7ae910683551c2f234792cc5595e7e3e34939f599342ada446

pkgname = google-chrome-stable
